
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.png') }} ">
    <!--Icon title-->
    <link rel="icon" href="{{ url_for('static', filename='img/logo_trans.png') }} " type="image/png" />
    <title>EDOA - Early Diagnosis Of Autism</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <!--popup-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.mobile-1.4.5.css')}}">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
    <script src="{{url_for('static',filename='js/jquery-1.10.2.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.mobile-1.4.5.js')}}"></script>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-offset="0" data-target="#theMenu">
    <!-- Menu -->
    <nav class="menu" id="theMenu">
        <div class="menu-wrap">
            <img src="{{url_for('static', filename='img/logo.png')}} " />
            <i class="icon-remove menu-close"></i>
            <a href="#home" class="smoothScroll">Home Page</a>
            <a href="#SignIn" class="smoothScroll">Login</a>
            <a href="#portfolio" class="smoothScroll">Early Signs</a>
            <a href="#about" class="smoothScroll">About</a>
            <a href="#contact" class="smoothScroll">Conact Us</a>
            <a href="#"><i class="icon-facebook"></i></a>
            <a href="#"><i class="icon-twitter"></i></a>
            <a href="#"><i class="icon-dribbble"></i></a>
            <a href="#"><i class="icon-envelope"></i></a>
        </div>
        <!-- Menu button -->
        <div id="menuToggle"><i class="icon-reorder"></i></div>
    </nav>

    <!-- ========== HEADER SECTION - Katia Prigon ========== -->
    <section id="home" name="home"></section>
    <div id="headerwrap">
        <div class="container">
            <br>
            <h1>EDOA</h1>
            <h2>Early Diagnosis Of Autism</h2>
            <div class="row">
                <br>
                <br>
                <br>
                <div class="col-lg-6 col-lg-offset-3">
                </div>
            </div>
        </div><!-- /container -->
    </div><!-- /headerwrap -->
    <!-- ========== WHITE SECTION ========== -->
    <div id="w">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>
                         Autism is a neurological disorder that causes communication and socialize difficulties with others.
                        <bold> Autistic children usually speak little, ignore others and come back again and again on the actions and behaviors such as spin in circles or focus on a particular object of hours.</bold> They excel in activities that require attention to the details, such as spelling or instruments but are upset when they are faced with a whole world of life <br />
                    </h3>
                </div>
            </div>
        </div><!-- /container -->
    </div><!-- /w -->
    <section id="SignIn" name="services"></section>
    <div id="g">
        <div class="container">
            <div class="row">
                <h3><b>Login</b></h3>
                <br>
                <div class="ui-content">
                    <a href="#myPopup" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left">Login</a>

                    <div data-role="popup" id="myPopup" class="ui-content" style="min-width:250px;">
                        <form method="post" action="{{url_for('item')}}">
                            <div>
                                
                                <h3>Welcome</h3>
                                <label for="usrnm" class="ui-hidden-accessible">User Name:</label>
                                <input type="text" name="user" id="usrnm" placeholder="User Name">
                                <label for="pswd" class="ui-hidden-accessible">Password:</label>
                                <input type="password" name="passw" id="pswd" placeholder="Password">
                                <label for="log">Remember Me</label>
                                <input type="checkbox" name="login" id="log" value="1" data-mini="true">
                                <input type="submit" data-inline="true" value="Login">
                                <input type="submit" data-inline="true" value="Sign Up">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /container -->
    </div><!-- /g -->
    <!-- ========== CHARTS - DARK GREY SECTION ========== -->
    <section id="portfolio" name="portfolio"></section>
    <div id="portfoliowrap">
        <div class="container">
            <div class="row">
                <h3><b>Early Signs</b></h3>
                <br />
                <p><b><u>Passive rest</u></b></p>
                <p><b>Lack of tears, lack of movement, lack of interest in the environment - often the baby looked comfortable, showing signs of discomfort, hunger etc. Sleeping overnight during the first months of life</b></p>
                <p><b><u>Overactive</u></b></p>
                <p><b>Prolonged crying, physical restlessness, excessive movement. Sometimes babies seem passive during their first year of life are becoming active in the second. The study revealed that babies who cry a lot during the first year of life may be hyperactive in childhood</b></p>
                <p><b><u>Reluctance or resistance to eat</u></b></p>
                <p><b>A high percentage of children on the autism spectrum show different levels of difficulty eating - Refusal to breastfeed, bottle or resistance of transition from liquid to solid food, eating from a limited menu. In many cases, these difficulties can be seen already during early life</b></p>
                <p><b><u>Accelerated growth of head circumference in relation to the starting point</u></b></p>
                <p><b>In some cases, children diagnosed with autism are born with a relatively small head circumference, but within two years may grow rapidly accelerated and reaches large dimensions in relation to the head of children with normal development.  This sign itself is not significant</b></p>
                <p><b><u>Delayed motor development</u></b></p>
                <p><b>Some babies with impaired motor development context whose development was fast, but these babies often have hypotonia (low muscle tension), and delayed motor development. This sign itself is not significant</b></p>
                <p><b><u>Lack of direct eye contact with people</u></b></p>
                <p><b>Baby with a developmental disorder engagement is not difficult to look at an object but may find difficult to make direct eye contact with people. There are babies who need a longer period of time (age 4-5 months) to mature visual channels</b></p>
                <p><b><u>Reluctance to contact the parent or any other person</u></b></p>
                <p><b>Some babies experiencing sensory flooding and therefore bother them physical contact. There is no doubt that this was causing disillusionment with the parents, but it is important to understand that the baby does not reject them, but experiencing real difficulty tactile sensation (cutaneous</b></p>
                <p><b><u>Lack of response to the sound or the presence of a parent</u></b></p>
                <p><b>There is no reference to the head, a smile or a murmur. Have to make a distinction between the lack of response to the sound and the lack of response to their presence - even if the baby does not hear it will react to their presence. Anyway hearing test should be performed before drawing any conclusions</b></p>
            </div>
        </div><!-- /container -->
    </div><!-- /portfoliowrap -->
    <!-- ========== WHITE SECTION2 ========== -->
    <div id="w">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>
                        New studies indicate that as promote the disclosure date of issue, the more likely improve cognitive skills, language, social connection and motor actions
                    </h3>
                </div>
            </div>
        </div><!-- /container -->
    </div><!-- /w -->
    <!-- ========== ABOUT - GREY SECTION ========== -->
    <section id="about" name="about"></section>
    <div id="g">
        <div class="container">
            <div class="row">
                <h3><b>About</b></h3>
                <br>
                <br>
                <div class="col-lg-3 team">
                    <img class="img-circle" src="{{url_for('static', filename='img/tal4.jpg')}} " height="120" width="120">
                    <img class="img-circle" src="{{url_for('static', filename='img/katia.jpg')}} " height="120" width="120">
                    <h4>Tal Cohen  &  Katia Prigon</h4>
                    <h5><i>Developers and web founders</i></h5>
                    <p>Software engineers, building web application to processing and analysis data to diagnose autism at an early age</p>
                    <p>
                        <a href="index.html#"><i class="icon-facebook"></i></a>
                        <a href="index.html#"><i class="icon-twitter"></i></a>
                        <a href="index.html#"><i class="icon-envelope"></i></a>
                    </p>
                </div>
            </div>
        </div><!-- /container -->
    </div><!-- /g -->
    <!-- ========== FOOTER SECTION ========== -->
    <section id="contact" name="contact"></section>
    <div id="f">
        <div class="container">
            <div class="row">
                <h3><b>CONTACT US</b></h3>
                <br>
                <div class="col-lg-4">
                    <h3><b>Send Us A Message:</b></h3>
                    <h3>tal3433@gmail.com</h3>
                    <h3>katiapr89@gmail.com</h3>
                    <br>
                </div>
                <div class="col-lg-4">
                    <h3><b>Call Us:</b></h3>
                    <h3>+972 524837638</h3>
                    <h3>+972 545592596</h3>
                    <br>
                </div>
                <div class="col-lg-4">
                    <h3><b>We Are Social</b></h3>
                    <p>
                        <a href="index.html#"><i class="icon-facebook"></i></a>
                        <a href="index.html#"><i class="icon-twitter"></i></a>
                        <a href="index.html#"><i class="icon-envelope"></i></a>
                    </p>
                    <br>
                </div>
            </div>

        </div><!-- /container -->
    </div><!-- /f -->
    <div id="c">
        <div class="container">
            <p>Created by <a href="http://www.blacktie.co">BLACKTIE.CO</a></p>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/classie.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/smoothscroll.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"> </script>
</body>
</html>
