<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>EDOA - Data Report</title>
    <!--Icon title-->
    <link rel="icon" href="{{ url_for('static', filename='img/logo_trans.png') }} " type="image/png" />
    <style>
        body {
            background-image: url("../static/img/new.jpg"); 
        }
    </style>
</head>
<body>
    <video controls autoplay>
        <source src="/content/" type="video/mp4">
    </video>

    <h1>Technical data:</h1><br />
    <br />
    <h2>Video length: </h2><br />
    <h2>Time get: </h2><br />
    <br />
    <h2>Amount of identification of a child from the mother: </h2><br />
    <h2>Amount of facial movement: </h2><br />
    <h2>Total duration of facial movement: </h2><br />
    <h2>Amount of eye movements: </h2><br />
    <br />
    <h2>Number of frames: </h2><br />
    <br />
    <h2>System running time: </h2><br />


  
   
</body>
</html>